   /* entire container, keeps perspective */
   
   /* Milestone 4: Add Custom Cursors to a Page */
   body {
       cursor: url("face.bmp"),auto;
   }
   
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.front{
        background-color: black;            
      }
        .back{
        background-color: red;            
        }
        
.flip-container, .front, .back {
	width: 320px;
	height: 480px;

        color: white;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/* background video settings */

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(aquarium.jpg) no-repeat;
background-size: cover;
}

#Thing{
    font-size: 40px;
}

.active a {
    cursor: pointer;
    transition: padding-left 250ms ease-out;
    color: red;
    font-size: 30px;
    /* trans pattern:  property duration timingMethod delay */
}

.active a:hover {
    padding-left: 20px;
}
#oneButton{
    color: white;
}